<p-table
  [value]="items"
  [paginator]="true"
  [rows]="5"
  [tableStyle]="{ 'min-width': '50rem' }"
  [rowsPerPageOptions]="[5, 10, 20]"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 25%">ItemCode</th>
      <th style="width: 25%">ItemName</th>
      <th style="width: 25%">ForeignName</th>
      <th style="width: 25%">Editar</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-oitm>
    <tr>
      <td>{{ oitm.ItemCode }}</td>
      <td>{{ oitm.ItemName }}</td>
      <td>{{ oitm.ForeignName }}</td>
      <td>
        <p-button
          icon="pi pi-pencil"
          title="Editar"
          severity="success"
          (onClick)="editItem(oitm)"
        />
      </td>
    </tr>
  </ng-template>
</p-table>
